<section class="bg-primary" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">My first Blog</h2>
        <hr class="light">
        <p class="text-faded"> This is my first attempt to blog about something that is important to me, so bare with me...</p>
   <!--      <p class="text-faded">Since I have started this career path many things have changed about me.  I have felt more insecure, stressed and at the same time eager to learn then ever before.  Having to manage my work life with my personal life is no joke.  I find myself wanting to be on the computer more so that I can understand things better. Having that said, this is a bit of a problem for my personal life.  How to manage both is the big question...  </p>
        
        <p class="text-faded">I am going to have to handle it the way I would if I was coding.  One bit at a time.  I tend to overthing or jump too far ahead with everything.  You got to live life in the moment so there for I need to start by breaking down the time I have on the computer and learn to disconnect.</p> -->
        
      </div>
    </div>
  </div>
</section>