<section class="bg-primary" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Welcome to My Blog</h2>
        <hr class="light">             
        <h3>Let's talk about testing...</h3>
          <p class="text-faded">So recently I have been fidgeting with web testing  with Selenium.  I was a bit intimidated to test a web since I'm not the best at testing my projects in the first place, but in a short amount of time I felt a little more confident and see the benefits of testing this way.</p>
          <h3>Selenium</h3>
          <p class="text-faded">Selenium can be written in multiple languages like Java, C#, Python, Java Script and Ruby.  I am currently using Ruby to test my projects.  Since I have ventured into learning more Java Script I am going to attempt to also create a test in that language, but for now let's stick to Ruby.</p>
          <h3>Instillation</h3>
          <p class="text-faded">So installation wasn't too bad.  I am a windows user (yeah, yeah I know what you are thinking) but surprisingly it was compatible with that I needed to do.  I simply downloaded the gem in my terminal by typing <strong style="color: purple;">gem install selenuim-driver</strong>. Then I installed the chrome driver in order to test in chrome.  I have provided the link <a target="_blank" href="https://chromedriver.storage.googleapis.com/index.html?path=2.32/" style="color: purple";>here</a>.  Once the download is completed you will need to take the zip file and place it in the root of your computer as followed:</p>
        <div class="container">
          <div class="row">
            <div class="center_instructions">
              <ol class="list">
                <li>Go to 'This PC'</li>
                <li>Go to local (c drive)</li>
                <li>Create a new folder call it 'webdriver' (move download into this folder)</li>
                <li>next copy your current path</li>
                <li>right click on 'This PC'</li>
                <li>select Advanced System settings</li>
                <li>select Environment Variable </li>
                <li>select Path> edit > new > paste path</li>
                <li>select okay to everything</li>
                <li>open terminal and type chromedriver, You should see: </li>
              </ol>        
            </div>       
          </div>
        </div>
          <div class="display_container">
            <p class="text-faded">C:\Users\jenni> chromedriver
              Starting ChromeDriver 2.31.488763(092de99f48a300323ecf8c2a4e2e7cab51de5ba8)<br>on port 9515
              Only local connections are allowed.</p>
          </div>     
            <p class="text-faded">And you are ready to rock and roll!</p>  
      </div>          
    </div>
  </div>
  <div class="pages">
    <a style="color:white;" href="#">Previous</a> |
    <a style="color:white;" href="/blog1">Next</a>
    
  </div>
</section>




