<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Jennifer M. Grudi</h1>
      <hr>
      <p>I am a Web Developer working for Mined Minds.  I absolutly love the place I am at right now.  I love being creative and seeing my work come to life.</p>
      <a href="/blog" class="btn btn-primary btn-xl page-scroll">Bloggin'</a>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">My New Career Path!</h2>
        <hr class="light">
        <p class="text-faded">I was born and raised in Los Angeles California. My parents are Rey and Alma Iglesias.  I have an older brother Cesar and a younger sister Jessica.  Yes, I have middle child syndrome.  </p>
        <p class="text-faded">Right after high school, I attended Los Angeles Mission College.  I wasn't sure what I wanted to do with my life at the time and decided that art was something I always liked.  I found myself accidentally signing myself up for Graphic design courses and I really liked it!  I then decided that this was going to be my major.  I was one semester short from graduation, when I discovered that I was pregnant with my first child Samantha.  As a single mom, my life changed drastically.  I was living at home at the time and I knew that I had to move out,  so I didn't finish school and got a job as a receptionist at a post production house in Hollywood.  I was able to move up in a short amount of time and created a different type of career for myself (Account Manager for television Stations). I was able to provide for my daughter and I really liked the industry I was working for.</p>  
        <p class="text-faded">Then life came back and said, "Let's shake this up a bit!" (I met my now husband, Andrew). Andrew is a wonderful man that decided we better move out of this state (Cali) if we want to have the life style we want.  So I followed him to Washington, Pennsylvania.  We now have a son named Jacob and I have lived in PA for 7 years.  I was able to be a stay at home mom for the past 6 years (which is something I would have never been able to do back home).</p> 
        <p class="text-faded">My husband is a Coal Miner and does very well for himself, but when he heard about the opportunities Mined Minds was offering, he told me immediately.  My son was starting school and he knew I needed a change.  <a href="http://www.minedminds.org/" style="color: rgba(255,255,255,.7);"> Mined Minds</a> was like a light coming down from heaven with the angels singing.  I took the classes and in a short amount of time, I knew this was something I wanted to do.  I have now been coding for a little less than a year and although still challenging, I absolutely love it! I am constantly learning new things and I am able to use some of the Graphic skills I learned so long ago. Looking forward to what the future will bring. </p>
  <!--  <form method="post" action="/resume">
        <button type="submit" name="submit" class="page-scroll btn btn-default btn-xl sr-button">Download Resume</button>
        </form>  -->
        <a target="_blank" href="https://drive.google.com/file/d/0Byf5fx6zWGuDWU9wMGJfV29ySGs/view?usp=sharing" class="page-scroll btn btn-default btn-xl sr-button"> Download Resume</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Skills</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
            <h3>Ruby</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-css3 text-primary sr-icons"></i>
                <h3>CSS</h3>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa fa-html5 text-primary sr-icons"></i>
                <h3>HTML</h3>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa fa-database text-primary sr-icons"></i>
                <h3>SQL</h3>               
            </div>
        </div>
    </div>
  </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/fullsize/partners.jpg" class="portfolio-box">
                    <img src="img/portfolio/thumbnails/partners.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Survey Website
                            </div>
                            <div class="project-name">
                                The Power Partners
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/fullsize/bot.jpg" class="portfolio-box">
                    <img src="img/portfolio/thumbnails/bot.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Chrome Extension
                            </div>
                            <div class="project-name">
                                Human Prediction Recruiting Extension
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/fullsize/bash.jpg" class="portfolio-box">
                    <img src="img/portfolio/thumbnails/bash.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Mobil Apps
                            </div>
                            <div class="project-name">
                                The Grand Bash
                            </div>
                        </div>
                    </div>
                </a>
            </div>      
        </div>
    </div>
</section>
