<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jennifer Grudi</title>
  <link rel="icon" href="img/cat.ico">
  <!-- Bootstrap Core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <link href="/css/style.css" rel="stylesheet">
  <!-- Theme CSS -->
  <link href="/css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">All About Me</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <%= yield %>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Let's Get In Touch!</h2>
              <hr class="primary">
              <p>Although I can't show you <strong>EVERYTHING</strong> I have worked on.  Please feel free to reach me.  I am always eager to meet new people <img class="icon icons8-Heart-Outline" width="15" height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAABNElEQVRIS+WV21HDMBBFTyqAEkgFhA6gEpIKIBUAHUAFQCVQQlJBKCFUAHOZlUaW10aJhX7YL48s6WjvvmY0slkjDv8DdAbcAZeAvmUfwAvwBOxt7RS4AZbZvnfgwc7EyOTSLYA3QJd4tgFW9uMZ0H7P9JgrQPt/LAXp8t0IJJxJPRrLJe2bBwVS0L1JVjMRJaHu7XgkN89rUky6ixz0VRnSCU8qXTPQX0i3DZmZevRodVFTQdXdbR4jFafSu6YpvVXsvV5XM8XXgFTqFWxYU6u5nujWq7WmeI3XvdUh9JJjYT2IJ13qyDGeuZDfQPp/SMxiu/FkLxl8GgOS8mQgbp+WwlJg0EpAOqxxoDmTwwTR3IrjYIhUCvJgxZCSGOUPDJ5pvciTsTqaWEL+8UOkm/SAZqBvYNsyGzgHX9sAAAAASUVORK5CYII="></p>
          </div>
          <div class="col-lg-4 col-lg-offset-2 text-center">
              <a href="tel:(724)503-5403"><i class="fa fa-phone fa-3x sr-contact" style="padding-right: 12vw"></i></a>
              <!-- <p>724-503-5403</p> -->
        <!--   </div>
          <div class="col-lg-4 text-center"> -->
              <a href="mailto:jen.grudi@gmail.com"><i class="fa fa-envelope-o fa-3x sr-contact"></i></a>
              <p><a href="mailto:jen.grudi@gmail.com"></a></p>
          </div>
          <div class="col-lg-4 text-center">
              <a href="https://www.linkedin.com/in/jennifer-grudi/"><i class="fa fa-linkedin fa-3x sr-contact" style="padding-right: 12vw"></i></a>
      <!--     </div>
          <div class="col-lg-4 text-center"> -->
              <a href="https://github.com/JenniferGrudi"><i class="fa fa-github fa-3x sr-contact"></i></a>
          </div>
        </div>
      </div>
    </section>
<a href="https://icons8.com">Icon pack by Icons8</a>
    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/js/creative.min.js"></script>

</body>

</html>
